.card {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #666666;
}
.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.card .card-sides .card-side.front {
  background-size: auto 300%;
  background-image: url("img/cards.png");
}
.card .card-sides .card-side.back {
  background-size: auto 100%;
  background-image: url("img/cards-back.png");
  transform: rotateY(180deg);
}
.card[data-type="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="0"] .front {
  background-position-x: 0%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="2"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="3"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="4"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="5"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="6"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="7"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="8"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="9"] .front {
  background-position-x: 100%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="10"] .front {
  background-position-x: 0%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="11"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="12"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="13"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="14"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="15"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="16"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="17"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="18"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="19"] .front {
  background-position-x: 100%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="20"] .front {
  background-position-x: 0%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="21"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="22"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="23"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="24"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="25"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="26"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode * {
  background: white !important;
}

#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}
#cards .card {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 8px;
}
#cards #shapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#cards #shapes .pile {
  width: 240px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
}
#cards #shapes .pile .card:not(:first-child) {
  margin-top: -230px;
}
#cards #objectives {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}
#cards #objectives #star1 {
  background: url("img/stars1.png");
}
#cards #objectives #star1[data-index="1"] {
  background-position-x: 0%;
}
#cards #objectives #star1[data-index="2"] {
  background-position-x: 11.1111111111%;
}
#cards #objectives #star1[data-index="3"] {
  background-position-x: 22.2222222222%;
}
#cards #objectives #star1[data-index="4"] {
  background-position-x: 33.3333333333%;
}
#cards #objectives #star1[data-index="5"] {
  background-position-x: 44.4444444444%;
}
#cards #objectives #star1[data-index="6"] {
  background-position-x: 55.5555555556%;
}
#cards #objectives #star1[data-index="7"] {
  background-position-x: 66.6666666667%;
}
#cards #objectives #star1[data-index="8"] {
  background-position-x: 77.7777777778%;
}
#cards #objectives #star1[data-index="9"] {
  background-position-x: 88.8888888889%;
}
#cards #objectives #star1[data-index="10"] {
  background-position-x: 100%;
}
#cards #objectives #star2 {
  background: url("img/stars2.png");
}
#cards #objectives #star2[data-index="1"] {
  background-position-x: 0%;
}
#cards #objectives #star2[data-index="2"] {
  background-position-x: 12.5%;
}
#cards #objectives #star2[data-index="3"] {
  background-position-x: 25%;
}
#cards #objectives #star2[data-index="4"] {
  background-position-x: 37.5%;
}
#cards #objectives #star2[data-index="5"] {
  background-position-x: 50%;
}
#cards #objectives #star2[data-index="6"] {
  background-position-x: 62.5%;
}
#cards #objectives #star2[data-index="7"] {
  background-position-x: 75%;
}
#cards #objectives #star2[data-index="8"] {
  background-position-x: 87.5%;
}
#cards #objectives #star2[data-index="9"] {
  background-position-x: 100%;
}

/*#player-tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .player-table {
    margin: 20px;
  }
}*/
.player-table {
  width: 546px;
  height: 800px;
  position: relative;
  font-size: 16pt;
  border-radius: 273px 273px 0 0;
  margin: 40px;
  margin-bottom: 0;
}
.player-table[data-type="0"] {
  background: url("img/sheet-1.png");
}
.player-table[data-type="1"] {
  background: url("img/sheet-2.png");
}
.player-table[data-type="2"] {
  background: url("img/sheet-3.png");
}
.player-table[data-type="3"] {
  background: url("img/sheet-4.png");
}
.player-table[data-type="4"] {
  background: url("img/sheet-5.png");
}
.player-table[data-type="5"] {
  background: url("img/sheet-6.png");
}
.player-table[data-type="6"] {
  background: url("img/sheet-7.png");
}
.player-table[data-type="7"] {
  background: url("img/sheet-8.png");
}
.player-table .main {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 600px;
}
.player-table .main .svg-wrapper {
  height: 612px;
}
.player-table .main .svg-wrapper svg {
  width: 100%;
  height: 100%;
}
.player-table .main .svg-wrapper svg .line {
  stroke: rgba(255, 255, 255, 0.8666666667);
  stroke-width: 8;
  stroke-opacity: 1;
  stroke-linecap: round;
}
.player-table .main .svg-wrapper svg .line.valid {
  stroke: rgba(0, 255, 0, 0.6);
}
.player-table .main .svg-wrapper svg .line.invalid {
  stroke: rgba(255, 0, 0, 0.6);
}
.player-table .main .card-border {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.player-table .main .card-border[data-validity=valid] {
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.6);
}
.player-table .main .card-border[data-validity=invalid] {
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.6);
}
.player-table .main .card-border .arrow {
  width: 50px;
  height: 50px;
  background-image: url("img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
}
.player-table .main .card-border .arrow:hover {
  opacity: 1;
}
.player-table .main .card-border .arrow.top {
  top: -40px;
  left: 75px;
  transform: rotate(180deg);
}
.player-table .main .card-border .arrow.bottom {
  bottom: -40px;
  left: 75px;
}
.player-table .main .card-border .arrow.left {
  left: -40px;
  top: 75px;
  transform: rotate(90deg);
}
.player-table .main .card-border .arrow.right {
  right: -40px;
  top: 75px;
  transform: rotate(-90deg);
}
.player-table .main .card-border .arrow.rotate {
  background-image: url("img/curved-arrow.svg");
  right: -40px;
  bottom: -40px;
  transform: rotate(90deg);
}
.player-table .main .day {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 0.2) 18px, rgba(255, 255, 255, 0.4) 36px);
  pointer-events: none;
}
.player-table .main .day[data-level="1"] {
  height: 125px;
}
.player-table .main .day[data-level="2"] {
  height: 231px;
}
.player-table .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.player-table .name span {
  background: white;
  box-shadow: 0 0 10px 10px white;
}

html, .mode_3d #game_play_area_background {
  background: #101010;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #jump-controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
}
#zoom-wrapper #jump-controls.folded .jump-link:not(.toggle) {
  display: none;
}
#zoom-wrapper #jump-controls .jump-link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 13px 13px 0;
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 8px 2px 5px;
  background: white;
}
#zoom-wrapper #jump-controls .jump-link .eye {
  width: 20px;
  height: 20px;
  mask: url("img/eye.svg") no-repeat center/contain;
  -webkit-mask: url("img/eye.svg") no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}
#zoom-wrapper #full-table #tables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shape {
  background: url("img/shapes.png");
  width: 101px;
  height: 31px;
  display: inline-block;
  background-size: auto 500%;
  vertical-align: middle;
}
.shape[data-shape="[0,1]"] {
  background-position-x: 0%;
  margin: 0 -30px;
}
.shape[data-shape="[0,2]"] {
  background-position-x: 20%;
  margin: 0 -35px;
}
.shape[data-shape="[0,0]"] {
  background-position-x: 40%;
  margin: 0 -18px;
}
.shape[data-shape="[0]"] {
  background-position-x: 60%;
  margin: 0 -35px;
}
.shape[data-shape="[0,1,1]"] {
  background-position-x: 80%;
  margin: 0 -25px;
}
.shape[data-shape="[0,2,2]"] {
  background-position-x: 100%;
  margin: 0 -15px;
}
.shape[data-step="0"] {
  background-position-y: 0%;
}
.shape[data-step="1"] {
  background-position-y: 25%;
}
.shape[data-step="2"] {
  background-position-y: 50%;
}
.shape[data-step="3"] {
  background-position-y: 75%;
}
.shape[data-step="4"] {
  background-position-y: 100%;
}

#round-panel {
  position: absolute;
  background: url("img/round-number.png");
  width: 120px;
  height: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 85%;
  color: white;
}

#page-title .ticket {
  display: inline-block;
  width: 42px;
  height: 60px;
  background: url("img/tickets.png");
  background-size: auto 100%;
  border-radius: 4px;
  transform-origin: center;
  transform: rotate(90deg);
  vertical-align: middle;
  margin: -10px 10px;
}
#page-title .ticket[data-ticket="1"] {
  background-position-x: 8.3333333333%;
}
#page-title .ticket[data-ticket="2"] {
  background-position-x: 16.6666666667%;
}
#page-title .ticket[data-ticket="3"] {
  background-position-x: 25%;
}
#page-title .ticket[data-ticket="4"] {
  background-position-x: 33.3333333333%;
}
#page-title .ticket[data-ticket="5"] {
  background-position-x: 41.6666666667%;
}
#page-title .ticket[data-ticket="6"] {
  background-position-x: 50%;
}
#page-title .ticket[data-ticket="7"] {
  background-position-x: 58.3333333333%;
}
#page-title .ticket[data-ticket="8"] {
  background-position-x: 66.6666666667%;
}
#page-title .ticket[data-ticket="9"] {
  background-position-x: 75%;
}
#page-title .ticket[data-ticket="10"] {
  background-position-x: 83.3333333333%;
}
#page-title .ticket[data-ticket="11"] {
  background-position-x: 91.6666666667%;
}
#page-title .ticket[data-ticket="12"] {
  background-position-x: 100%;
}

.map-icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/map-icons.png");
  background-size: auto 100%;
  vertical-align: middle;
}
.map-icon[data-element="0"] {
  background-position: 0% 0%;
}
.map-icon[data-element="20"] {
  background-position: 12.5% 0%;
}
.map-icon[data-element="30"] {
  background-position: 25% 0%;
}
.map-icon[data-element="32"] {
  background-position: 37.5% 0%;
}
.map-icon[data-element="40"] {
  background-position: 50% 0%;
}
.map-icon[data-element="41"] {
  background-position: 62.5% 0%;
}
.map-icon[data-element="42"] {
  background-position: 75% 0%;
}
.map-icon[data-element="50"] {
  background-position: 87.5% 0%;
}
.map-icon[data-element="51"] {
  background-position: 100% 0%;
}

.tooltip-section:not(:first-child) {
  margin-top: 2em;
}
.tooltip-section .map-icon {
  width: 24px;
  height: 24px;
}
