.card {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #666666;
}
.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.card .card-sides .card-side.front {
  background-size: auto 300%;
  background-image: url("img/cards.png");
}
.card .card-sides .card-side.back {
  background-size: auto 100%;
  background-image: url("img/cards-back.png");
  transform: rotateY(180deg);
}
.card[data-type="1"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="0"] .front {
  background-position-x: 0%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="1"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="2"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="3"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="4"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="5"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="6"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="7"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="8"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="9"] .front {
  background-position-x: 100%;
  background-position-y: 0%;
}
.card[data-type="2"][data-type-arg="10"] .front {
  background-position-x: 0%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="11"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="12"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="13"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="14"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="15"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="16"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="17"] .front {
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="18"] .front {
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="19"] .front {
  background-position-x: 100%;
  background-position-y: 50%;
}
.card[data-type="2"][data-type-arg="20"] .front {
  background-position-x: 0%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="21"] .front {
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="22"] .front {
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="23"] .front {
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="24"] .front {
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="25"] .front {
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}
.card[data-type="2"][data-type-arg="26"] .front {
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode * {
  background: white !important;
}

#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#cards .card {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 8px;
}
#cards .card.highlight-current-shape {
  animation: highlight-current-shape-animation 1.5s alternate infinite ease-in-out;
}
#cards #shapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#cards #shapes .pile-wrapper {
  position: relative;
}
#cards #shapes .pile-wrapper .pile {
  width: 240px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
}
#cards #shapes .pile-wrapper .pile .card:not(:first-child) {
  margin-top: -230px;
}
#cards #shapes .pile-wrapper .pile:empty {
  border: 1px dashed #666666;
  box-sizing: border-box;
  height: 240px;
  border-radius: 8px;
}
#cards #shapes .pile-wrapper .pile-counter {
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
}
#cards #objectives {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}
#cards #objectives #star1 {
  background: url("img/stars1.png");
}
#cards #objectives #star1[data-index="0"] {
  background-position-x: 0%;
}
#cards #objectives #star1[data-index="1"] {
  background-position-x: 11.1111111111%;
}
#cards #objectives #star1[data-index="2"] {
  background-position-x: 22.2222222222%;
}
#cards #objectives #star1[data-index="3"] {
  background-position-x: 33.3333333333%;
}
#cards #objectives #star1[data-index="4"] {
  background-position-x: 44.4444444444%;
}
#cards #objectives #star1[data-index="5"] {
  background-position-x: 55.5555555556%;
}
#cards #objectives #star1[data-index="6"] {
  background-position-x: 66.6666666667%;
}
#cards #objectives #star1[data-index="7"] {
  background-position-x: 77.7777777778%;
}
#cards #objectives #star1[data-index="8"] {
  background-position-x: 88.8888888889%;
}
#cards #objectives #star1[data-index="9"] {
  background-position-x: 100%;
}
#cards #objectives #star2 {
  background: url("img/stars2.png");
}
#cards #objectives #star2[data-index="0"] {
  background-position-x: 0%;
}
#cards #objectives #star2[data-index="1"] {
  background-position-x: 12.5%;
}
#cards #objectives #star2[data-index="2"] {
  background-position-x: 25%;
}
#cards #objectives #star2[data-index="3"] {
  background-position-x: 37.5%;
}
#cards #objectives #star2[data-index="4"] {
  background-position-x: 50%;
}
#cards #objectives #star2[data-index="5"] {
  background-position-x: 62.5%;
}
#cards #objectives #star2[data-index="6"] {
  background-position-x: 75%;
}
#cards #objectives #star2[data-index="7"] {
  background-position-x: 87.5%;
}
#cards #objectives #star2[data-index="8"] {
  background-position-x: 100%;
}
#cards #objectives .highlight-objective {
  animation: highlight-objective-animation 1.5s alternate infinite ease-in-out;
}

@keyframes highlight-objective-animation {
  0% {
    box-shadow: 0 0 20px 10px #f0da8c;
  }
  100% {
    box-shadow: 0 0 20px 10px #997835;
  }
}
@keyframes highlight-current-shape-animation {
  0% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.9333333333);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6666666667);
  }
}
@font-face {
  font-family: "blzeeregular";
  src: url("img/blzee-webfont.woff2") format("woff2"), url("img/blzee-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*#player-tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .player-table {
    margin: 20px;
  }
}*/
.player-table {
  width: 546px;
  height: 800px;
  position: relative;
  font-size: 16pt;
  border-radius: 273px 273px 0 0;
  margin: 40px;
  margin-bottom: 0;
  box-shadow: 0 0 3px 3px black;
}
.player-table[data-type="0"] {
  background: url("img/sheet-1.png");
}
.player-table[data-type="1"] {
  background: url("img/sheet-2.png");
}
.player-table[data-type="2"] {
  background: url("img/sheet-3.png");
}
.player-table[data-type="3"] {
  background: url("img/sheet-4.png");
}
.player-table[data-type="4"] {
  background: url("img/sheet-5.png");
}
.player-table[data-type="5"] {
  background: url("img/sheet-6.png");
}
.player-table[data-type="6"] {
  background: url("img/sheet-7.png");
}
.player-table[data-type="7"] {
  background: url("img/sheet-8.png");
}
.player-table .main {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 600px;
}
.player-table .main .svg-wrapper {
  height: 612px;
}
.player-table .main .svg-wrapper svg {
  width: 100%;
  height: 100%;
}
.player-table .main .svg-wrapper svg .line {
  stroke: rgba(255, 255, 255, 0.8666666667);
  stroke-width: 4;
  stroke-opacity: 1;
  stroke-linecap: round;
}
.player-table .main .svg-wrapper svg .line.valid {
  stroke: rgba(0, 255, 0, 0.6);
}
.player-table .main .svg-wrapper svg .line.invalid {
  stroke: rgba(255, 0, 0, 0.6);
}
.player-table .main .svg-wrapper svg .coordinates-selector {
  fill: rgba(0, 255, 0, 0.6);
  cursor: pointer;
}
.player-table .main .svg-wrapper svg .object {
  background-image: url("img/objects.png");
  background-size: auto 100%;
}
.player-table .main .svg-wrapper svg .round {
  animation: unvalidated-animation 1s alternate infinite ease-in-out;
}
.player-table .main .border {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.player-table .main .border.card {
  width: 200px;
  height: 200px;
}
.player-table .main .border.line {
  width: 140px;
  height: 140px;
}
.player-table .main .border[data-validity=valid] {
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.6);
}
.player-table .main .border[data-validity=invalid] {
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.6);
}
.player-table .main .border .arrow {
  width: 50px;
  height: 50px;
  background-image: url("img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
}
.player-table .main .border .arrow:hover {
  opacity: 1;
}
.player-table .main .border .arrow.top {
  top: -40px;
  left: calc(50% - 25px);
  transform: rotate(180deg);
}
.player-table .main .border .arrow.bottom {
  bottom: -40px;
  left: calc(50% - 25px);
}
.player-table .main .border .arrow.left {
  left: -40px;
  top: calc(50% - 25px);
  transform: rotate(90deg);
}
.player-table .main .border .arrow.right {
  right: -40px;
  top: calc(50% - 25px);
  transform: rotate(-90deg);
}
.player-table .main .border .arrow.rotate {
  background-image: url("img/curved-arrow.svg");
  right: -40px;
  bottom: -40px;
  transform: rotate(90deg);
}
.player-table .main .day {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px dashed white;
  pointer-events: none;
}
.player-table .main .day::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  bottom: 0;
  width: 25px;
  border-right: 3px solid white;
  background: url("img/sun.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.player-table .main .day[data-level="0"] {
  display: none;
}
.player-table .main .day[data-level="1"] {
  height: 106px;
}
.player-table .main .day[data-level="2"] {
  height: 212px;
}
.player-table .main .constellation-counter {
  position: absolute;
  color: white;
  font-family: "blzeeregular";
  font-size: 24pt;
  pointer-events: none;
}
.player-table .name-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
  mix-blend-mode: screen;
}
.player-table .name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.player-table .name span {
  background: white;
  box-shadow: 0 0 10px 10px white;
}
.player-table .score {
  font-family: "blzeeregular";
  font-size: 28pt;
  position: absolute;
  top: 695px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  text-align: center;
}
.player-table .score.constellation {
  font-size: 64pt;
  width: 14px;
  height: 14px;
}
.player-table .score.constellation[data-number="3"] {
  top: 634px;
  left: 31px;
}
.player-table .score.constellation[data-number="4"] {
  top: 634px;
  left: 48px;
}
.player-table .score.constellation[data-number="5"] {
  top: 634px;
  left: 65px;
}
.player-table .score.constellation[data-number="6"] {
  top: 663px;
  left: 31px;
}
.player-table .score.constellation[data-number="7"] {
  top: 663px;
  left: 48px;
}
.player-table .score.constellation[data-number="8"] {
  top: 663px;
  left: 65px;
}
.player-table .score.constellations {
  left: 21px;
}
.player-table .score.planets {
  left: 103px;
}
.player-table .score.shooting-stars {
  left: 183px;
}
.player-table .score.star1 {
  left: 265px;
}
.player-table .score.star2 {
  left: 345px;
}
.player-table .score.total {
  left: 434px;
  top: 652px;
  width: 90px;
  height: 90px;
  font-size: 48pt;
}

@keyframes unvalidated-animation {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
html[data-no-counter=true] .constellation-counter {
  display: none;
}

#lookatthestars-help-button {
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: white;
  font-weight: bold;
  color: #101010;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #lookatthestars-help-button {
    bottom: 5px;
  }
}
#popin_lookatthestarsHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_lookatthestarsHelpDialog {
  background: white;
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  font-size: 18px;
  margin: 8px 0;
}
#help-popin h2 {
  font-size: 14px;
  margin: 8px 0;
}
#help-popin .help-section {
  padding: 5px;
  margin: 3px 0;
  display: flex;
}
#help-popin .help-section > div:not(:first-child) {
  margin-left: 5px;
  flex: 1;
}
#help-popin .constellation-section {
  margin: 15px;
}

.help-star2 {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  background: url("img/stars2.png");
}
.help-star2[data-index="0"] {
  background-position-x: 0%;
}
.help-star2[data-index="1"] {
  background-position-x: 12.5%;
}
.help-star2[data-index="2"] {
  background-position-x: 25%;
}
.help-star2[data-index="3"] {
  background-position-x: 37.5%;
}
.help-star2[data-index="4"] {
  background-position-x: 50%;
}
.help-star2[data-index="5"] {
  background-position-x: 62.5%;
}
.help-star2[data-index="6"] {
  background-position-x: 75%;
}
.help-star2[data-index="7"] {
  background-position-x: 87.5%;
}
.help-star2[data-index="8"] {
  background-position-x: 100%;
}

html, .mode_3d #game_play_area_background {
  background: #101010;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #jump-controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
}
#zoom-wrapper #jump-controls.folded .jump-link:not(.toggle) {
  display: none;
}
#zoom-wrapper #jump-controls .jump-link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 13px 13px 0;
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 8px 2px 5px;
  background: white;
}
#zoom-wrapper #jump-controls .jump-link .eye {
  width: 20px;
  height: 20px;
  mask: url("img/eye.svg") no-repeat center/contain;
  -webkit-mask: url("img/eye.svg") no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}
#zoom-wrapper #full-table #tables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.setShootingStarSizeButton {
  border: 3px solid #dddddd;
}
.setShootingStarSizeButton.current-size {
  border-color: #4871b6;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  vertical-align: middle;
}
.icon.moon {
  background-position: 0% 0%;
  border-radius: 16%;
}
.icon.star5 {
  background-position: 50% 0%;
  border-radius: 16%;
}
.icon.star7 {
  background-position: 100% 0%;
  border-radius: 16%;
}

.jump-link .icon {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.log .icon {
  width: 24px;
  height: 24px;
}

#keys-notice {
  position: absolute;
  background: white;
  width: 100%;
  top: -85px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  z-index: 1;
}
#keys-notice #hide-keys-notice {
  font-weight: bold;
  cursor: pointer;
}
#keys-notice::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 12px);
}
