$tableWidth: 546px;
$validColor: #00FF0099;
$invalidColor: #FF000099;

@font-face {
  font-family: 'blzeeregular';
  src: url('img/blzee-webfont.woff2') format('woff2'),
       url('img/blzee-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*#player-tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .player-table {
    margin: 20px;
  }
}*/

.player-table {
  width: $tableWidth;
  height: 800px;
  position: relative;
  font-size: 16pt;
  border-radius: #{$tableWidth / 2} #{$tableWidth / 2} 0 0;
  margin: 40px;
  margin-bottom: 0;

  @for $i from 0 through 7 {
    &[data-type="#{$i}"] {
      background: url('img/sheet-#{$i + 1}.png');
    }
  }

  .main {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 600px;

    .svg-wrapper {
      height: 612px;

      svg {
        width: 100%;
        height: 100%;
        
        .line {
          stroke: #FFFFFFDD;
          stroke-width: 8;
          stroke-opacity: 1;
          stroke-linecap: round;

          &.valid {
            stroke: $validColor;
          }
          &.invalid {
            stroke: $invalidColor;
          }
        }

        .coordinates-selector {
          fill: $validColor;
          cursor: pointer;
        }

        .object {
          background-image: url('img/objects.png');
          background-size: auto 100%;
        }

        .round {
          animation: unvalidated-animation 1s alternate infinite ease-in-out;
        }
      }
    }

    .border {
      display: inline-block;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 10px;

      &.card {
        width: 200px;
        height: 200px;
      }
      &.line {
        width: 140px;
        height: 140px;
      }   

      &[data-validity="valid"] {
        box-shadow: 0 0 5px 2px $validColor;
      }
      &[data-validity="invalid"] {
        box-shadow: 0 0 5px 2px $invalidColor;
      }

      .arrow {
        width: 50px;
        height: 50px;
        background-image: url('img/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &.top {
          top: -40px;          
          left: calc(50% - 25px);
          transform: rotate(180deg);
        }
        &.bottom {
          bottom: -40px;
          left: calc(50% - 25px);
        }
        &.left {
          left: -40px;
          top: calc(50% - 25px);
          transform: rotate(90deg);
        }
        &.right {
          right: -40px;
          top: calc(50% - 25px);
          transform: rotate(-90deg);
        }

        &.rotate {
          background-image: url('img/curved-arrow.svg');
          right: -40px;
          bottom: -40px;
          transform: rotate(90deg);
        }
      }
    }

    .day {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 0.2) 18px, rgba(255, 255, 255, 0.4) 36px);
      pointer-events: none;

      &[data-level="1"] {
        height: 125px;
      }

      &[data-level="2"] {
        height: 231px;
      }
    }

    .constellation-counter {
      position: absolute;
      color: white;
      font-family: 'blzeeregular';
      font-size: 24pt;
      pointer-events: none;
    }
  }

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    span {
      background: white;
      box-shadow: 0 0 10px 10px white;
    }
  }

  .score {
    font-family: 'blzeeregular';
    font-size: 28pt;
    position: absolute;
    top: 695px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    text-align: center;

    &.constellation {
      font-size: 64pt;
      width: 14px;
      height: 14px;

      @for $number from 3 through 5 {
        &[data-number="#{$number}"] {
          top: 634px;
          left: #{31 + ($number - 3) * 17}px;
        }
      }

      @for $number from 6 through 8 {
        &[data-number="#{$number}"] {
          top: 663px;
          left: #{31 + ($number - 6) * 17}px;
        }
      }
    }

    &.constellations {
      left: 21px;
    }
    &.planets {
      left: 103px;
    }
    &.shooting-stars {
      left: 183px;
    }
    &.star1 {
      left: 265px;
    }
    &.star2 {
      left: 345px;
    }

    &.total {
      left: 434px;
      top: 652px;
      width: 90px;
      height: 90px;
      font-size: 48pt;
    }
  }
}

@keyframes unvalidated-animation {
  0% { 
    opacity: 0.6;
  }
  100% { 
    opacity: 1;
  }
}

html[data-no-counter="true"] {
  .constellation-counter {
    display: none;
  }
}