$tableWidth: 546px;
$validColor: #00FF0099;
$invalidColor: #FF000099;

/*#player-tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .player-table {
    margin: 20px;
  }
}*/

.player-table {
  width: $tableWidth;
  height: 800px;
  position: relative;
  font-size: 16pt;
  border-radius: #{$tableWidth / 2} #{$tableWidth / 2} 0 0;

  @for $i from 0 through 7 {
    &[data-type="#{$i}"] {
      background: url('img/sheet-#{$i + 1}.png');
    }
  }

  .main {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 600px;

    .svg-wrapper {
      height: 612px;

      svg {
        width: 100%;
        height: 100%;
        
        .line {
          stroke: #FFFFFFDD;
          stroke-width: 8;
          stroke-opacity: 1;
          stroke-linecap: round;

          &.valid {
            stroke: $validColor;
          }
          &.invalid {
            stroke: $invalidColor;
          }
        }
      }
    }

    .card-border {
      display: inline-block;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 10px;
      

      &[data-validity="valid"] {
        box-shadow: 0 0 5px 2px $validColor;
      }
      &[data-validity="invalid"] {
        box-shadow: 0 0 5px 2px $invalidColor;
      }

      .arrow {
        width: 50px;
        height: 50px;
        background: url('img/arrow.svg');
        background-size: contain;
        position: absolute;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &.top {
          top: -40px;
          left: 75px;
          transform: rotate(180deg);
        }
        &.bottom {
          bottom: -40px;
          left: 75px;
        }
        &.left {
          left: -40px;
          top: 75px;
          transform: rotate(90deg);
        }
        &.right {
          right: -40px;
          top: 75px;
          transform: rotate(-90deg);
        }
      }
    }

    .day {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 0.2) 18px, rgba(255, 255, 255, 0.4) 36px);
      pointer-events: none;

      &[data-level="1"] {
        height: 125px;
      }

      &[data-level="2"] {
        height: 231px;
      }
    }
  }

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    span {
      background: white;
      box-shadow: 0 0 10px 10px white;
    }
  }
}