#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  .card {
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 8px;

    &.highlight-current-shape {
      animation: highlight-current-shape-animation 1.5s alternate infinite ease-in-out;
    }
  }

  #shapes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .pile-wrapper {
      position: relative;

      .pile {
        width: 240px;
        min-height: 240px;

        display: flex;
        flex-direction: column;

        .card:not(:first-child) {
          margin-top: -230px;
        }

        &:empty {
          border: 1px dashed #666666;
          box-sizing: border-box;
          height: 240px;
          border-radius: 8px;
        }
      }

      .pile-counter {
          position: absolute;
          bottom: -25px;
          right: 0;
          left: 0;
          text-align: center;
          color: #333333;
      }
    }
  }

  #objectives {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;

    #star1 {
      background: url('img/stars1.png');

      @for $index from 0 through 9 {
        &[data-index="#{$index}"] { 
            background-position-x: #{$index * 100% / 9};
        }
      }
    }

    #star2 {
      background: url('img/stars2.png');

      @for $index from 0 through 8 {
        &[data-index="#{$index}"] { 
            background-position-x: #{$index * 100% / 8};
        }
      }
    }

    .highlight-objective {
      animation: highlight-objective-animation 1.5s alternate infinite ease-in-out;
    }
  }
}

@keyframes highlight-objective-animation {
  0% { 
    box-shadow: 0 0 20px 10px #f0da8c;
  }
  100% { 
    box-shadow: 0 0 20px 10px #997835;
  }
}

@keyframes highlight-current-shape-animation {
  0% { 
    box-shadow: 0 0 20px 10px #ffffff;
  }
  100% { 
    box-shadow: 0 0 20px 10px #ffffffcc;
  }
}