#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  .card {
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 8px;
  }

  #shapes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .pile {
      width: 240px;
      min-height: 240px;

      display: flex;
      flex-direction: column;

      .card:not(:first-child) {
        margin-top: -230px;
      }
    }
  }

  #objectives {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;

    #star1 {
      background: url('img/stars1.png');

      @for $index from 0 through 9 {
        &[data-index="#{$index}"] { 
            background-position-x: #{$index * 100% / 9};
        }
      }
    }

    #star2 {
      background: url('img/stars2.png');

      @for $index from 0 through 8 {
        &[data-index="#{$index}"] { 
            background-position-x: #{$index * 100% / 8};
        }
      }
    }

    .highlight-objective {
      animation: highlight-objective-animation 1.5s alternate infinite ease-in-out;
    }
  }
}

@keyframes highlight-objective-animation {
  0% { 
    box-shadow: 0 0 20px 10px #f0da8c;
  }
  100% { 
    box-shadow: 0 0 20px 10px #997835;
  }
}