@import 'cards';
@import 'playerboards';
@import 'table-center';
@import 'player-table';
@import 'help';

html, .mode_3d #game_play_area_background {
  background: #101010;
}

#zoom-wrapper {
  position: relative;

  #zoom-controls {
    position: absolute;
    top: 0;
    right: 0;

    button {
      width: 40px;
      height: 40px;
      background: url('img/zoom.svg');
      background-size: auto 220%;

      &:not(.disabled) {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    #zoom-in {
      background-position: 6% 94%;
    }
    #zoom-out {
      background-position: 82% 94%;
    }
  }

  #jump-controls {
    position: fixed;
    top: 50vh;
    z-index: 5;

    &.folded {
      .jump-link:not(.toggle) {
        display: none;
      }
    }

    .jump-link {
      position: relative;
      border-width: 2px;
      border-style: solid;
      border-radius: 0 13px 13px 0;
      margin: 10px 0;
      width: fit-content;
      cursor: pointer;
      height: 22px;
      padding: 2px 8px 2px 5px;
      background: white;

      .eye {
        width: 20px;
        height: 20px;
        mask: url('img/eye.svg') no-repeat center / contain;
        -webkit-mask: url('img/eye.svg') no-repeat center / contain;
        background: black;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  #full-table {
    transform-origin: left top;

    #tables {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.setShootingStarSizeButton {
  border: 3px solid #dddddd;

  &.current-size {
    border-color: #4871b6;
  }
}

.icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('img/icons.png');
    background-size: auto 100%;
    vertical-align: middle;
  
    &.moon {
      background-position: #{0 * 100% / 2} 0%;
      border-radius: 16%;
    }
  
    &.star5 {
      background-position: #{1 * 100% / 2} 0%;
      border-radius: 16%;
    }
  
    &.star7 {
      background-position: #{2 * 100% / 2} 0%;
      border-radius: 16%;
    }
}

.jump-link {
  .icon {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
}

.log {
  .icon {
    width: 24px;
    height: 24px;
  }
}

#keys-notice {
  position: absolute;
    background: white;
    width: 100%;
    top: -85px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 0px #000000cc;
    box-sizing: border-box;
    z-index: 1;

    #hide-keys-notice {
        font-weight: bold;
        cursor: pointer;
    }

    &::after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid white;
      position:absolute;
      bottom: -12px;
      left: calc(50% - 12px);
    }
}